body.background-image {
  background-image: var(--background-image);
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.site {
  background-color: var(--site-background-color);
  max-width: var(--site-max-width);
  min-width: var(--site-min-width);
  margin-left: auto;
  margin-right: auto;
}

main {
  padding: 0 1rem;
  background-color: var(--main-background-color);
}

footer {
  margin-top: 1rem;
  background-color: var(--footer-background-color);
  color: #fff;
  height: 110px;
}

a {
  color: #00e;
  text-decoration: none;
}
