body.background-image {
  background-image: var(--background-image);
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  max-width: var(--content-max-width);
  min-width: var(--content-min-width);
  margin: 0 auto;
  padding: 0 1rem;
  background-color: var(--content-background-color);
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}
